/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, html a{
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: greyscale;
}

a, button, .flowery, .glass-small, .small-res{
    -webkit-transition: all .30s;
    -moz-transition: all .30s;
    -o-transition: all .30s;
    -ms-transition: all .30s;
    transition: all .30s;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    font-family: "futura-pt", sans-serif;
    
}
#container{
    width: 100%;
    height: 100%;
    
}

/*
///////////////////
##GENERAL
///////////////////
*/

.fixed{
    position: fixed;
}
.fixed.root-title{
	position: absolute;
}
.small-res{
    display: none;
}

/*
///////////////////
##HEADER
///////////////////
*/
header{
    width: 100%;
    height: 129px;
    padding: 1em;
}

.root-title{
    top: 20px;
    left: 20px;
    width: 167px; 
    height: 129px;
    margin: 0;
    padding: 0;
    
    z-index: 52;
}
.main-logo{
    display: block;
/*    width: 100%;*/
    height: 100%;
    text-indent: -9999px;

    background: url("../img/main-logo.png") no-repeat top left;
    background-size: cover;
}

/*
///////////////////
##MENU
///////////////////
*/

.trigger-menu, .icon-lines, .icon-lines:before, .icon-lines:after{
/* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
    
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.trigger-menu{
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #3c3c3a;
    overflow: hidden;
    z-index: 70;
    cursor: pointer;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.trigger-menu:hover, .trigger-menu.clicked{
    background: #f7e726;
}
.trigger-menu svg{
    position: absolute;
    top: 0;
    right: 0;
}
.icon-lines{
    position: absolute;
    right: 50%;
    top: 50%;
    left: auto;
    bottom: auto; 
    width: 1.25em;
    height: 2px;
    background: #fff;

    -webkit-transform: translate3d(50%,-50%,0);
    -moz-transform: translate3d(50%,-50%,0);
    -ms-transform: translate3d(50%,-50%,0);
    -o-transform: translate3d(50%,-50%,0);
    transform: translate3d(50%,-50%,0);
}
.icon-lines:before,
.icon-lines:after{
    content: '';
    position: absolute;
    right: 0;
    width: 1.25em;
    height: 2px;
    background: #fff; 
}
.icon-lines:before{
    top: 0.375em;
}
.icon-lines:after{
    top: -0.375em;
}


/* ##MENU-NAVIGATION */
.menu-navigation{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    visibility: hidden;
    z-index: 60;

    -webkit-transition: visibility 0s 0.7s;
    -moz-transition: visibility 0s 0.7s;
    transition: visibility 0s 0.7s;
}
.nav-wrapper{
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    background: #fff;

    
    /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);

    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    transition: transform 0.7s;

    -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}

.nav-is-open .nav-wrapper{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;

    -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}
.nav-is-open .menu-navigation{
    visibility: visible;

    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
}

/* Animation 3-bars to cross */
.trigger-menu{
    transition: transform 0.5s; 
    -moz-transition: -moz-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}
/*
.nav-is-open .trigger-menu{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg); 
    -ms-transform: rotate(180deg); 
    -o-transform: rotate(180deg);
    transform: rotate(180deg); 
}
*/
.icon-lines:before,
.icon-lines:after{ 
    transition: transform 0.5s; 
    -moz-transition: -moz-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}
.icon-lines{
    transition: all 0.5s;
     -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.nav-is-open .icon-lines{
    width: 0;
    
    -webkit-transform: translate3d(-50%,0,0);
    -moz-transform: translate3d(-50%,0,0);
    -ms-transform: translate3d(-50%,0,0);
    -o-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
}

.nav-is-open .icon-lines:after{
    /* animate arrow --> from hamburger to arrow */
   
    
    -webkit-transform: translate3d(10px,6px,0) rotate(45deg);
    -moz-transform: translate3d(10px,6px,0) rotate(45deg);
    -ms-transform: translate3d(10px,6px,0) rotate(45deg);
    -o-transform: translate3d(10px,6px,0) rotate(45deg);
    transform: translate3d(10px,6px,0) rotate(45deg);
}
.nav-is-open .icon-lines:before{
    /* animate arrow --> from hamburger to arrow */

    -webkit-transform: translate3d(10px,-6px,0) rotate(-45deg);
    -moz-transform: translate3d(10px,-6px,0) rotate(-45deg);
    -ms-transform: translate3d(10px,-6px,0) rotate(-45deg);
    -o-transform: translate3d(10px,-6px,0) rotate(-45deg);
    transform: translate3d(10px,-6px,0) rotate(-45deg);
}






/* Menu-Navigation Content */
.nav-container{
    position: relative;
    padding: 3em 0 0 0; 
}
.nav-split{
    padding: 0 0 0 20px;
    display: inline-block;
    width: 50%;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pos-bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
}
.desc{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url("../img/optimized/img-transparent-texture.png") no-repeat top left;
    background-size: 100%;
}
.company{
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    background: url("../img/img-oue-downtown.png") no-repeat;
}
.company, address{
	padding-top: 8px;
    text-transform: uppercase;
    color: #242626; 
    font-style: normal;
}

.logo{
    display: block;
    width: 167px; 
    height: 129px;
    text-indent: -9999px;
    background: url("../img/main-logo.png") no-repeat;
   
}

.primary-nav{
    list-style: none;
    margin: 0;
    padding: 0;
}
.primary-nav li{
    margin: 0;
    border-left: 3px solid transparent;
}
.primary-nav li a{
    padding-left: 20px;
    font-size: 3.6em;
    font-weight: 800;
    color: #242626;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: -0.075em;
    
}
.primary-nav li:hover{
    
    text-decoration: none;
    border-left: 3px solid #f7e726;
}
.primary-nav li:hover > a{
    color: #f7e726;
}

/*
///////////////////
##MAIN
///////////////////
*/

main{
    position: relative;
    height: 100vh;
    padding: 0;
    z-index: 20;

    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}
.nav-is-open main{
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.anchor{
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    overflow: hidden;
    
    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}
.split{
    position: relative;
    height: 100%;
    text-align: center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ##FLOATS */
.left{
    float: left;
}
.right{
    float: right;
}

/* ##SIZES */
.size-100{
    width: 100%;
}
.size-50{
    width: 50%;
}
.size-63{
    width: 63%;
}
.size-44{
    width: 44%;
}
.size-56{
    width: 56%;
}
.size-75{
    width: 75%;
}

/* ##TEXT-CONTAINER */
.text-container{
    position: relative;
    margin: 0 auto;
	
	top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translate(-50%);
    transform: translateY(-50%);
	
    
    z-index: 52;
}
.content{
    
}
.presentation-text{
    max-width: 400px; /* 50% */
    text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 16px;
    margin: 1em auto 0 auto;
}
.first-p{
    margin: 3em auto 0 auto;
}

/* ##PARAGRAPHS */
.headline{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 0.5em;
    font-size: 4.313em;
    font-weight: 700;
    letter-spacing: -0.105em;
    text-transform: uppercase;
    line-height: 0.678em;
    color: #242626;
}
.subtitle{
    max-width: 400px; /* 50% */
    margin: 1.25em auto 0 auto;
    padding: 0;
    font-size: 1.175em;
    font-weight: 500;
    line-height: 1.1em;
    text-transform: uppercase;
    color: #242626;
}
.section-subtitle{
    position: relative;
    margin: 0 auto;
    
    
    background: #000;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    z-index: 90;
}
.section-subtitle a{
    display: block;
    padding: 0.25em;
    font-size: 1.0em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.section-subtitle a:after{
    content: "";
    position: absolute;
    left: 0;
    display: block;
    float: left;
    top: 0.42em;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    
    background: url("../img/icon-arrow-bottom.png") no-repeat center;
    background-size: 100%;
}
.sep{
    margin: 0 auto;
    border: 0 none;
    border-top: 4px solid #262624; 
}
.footnote{
	display: none;
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.0em;
    font-weight: 700;
    text-transform: uppercase;
    color: #262624;
    z-index: 52;
}
.footnote:after{
    content: "";   
    display: block;
    margin: 0 auto;
    width: 0.5em;
    
    border-bottom: 1px solid #262624;
}

/* ##ILLUSTRATIONS */
.main-illustration{
    position: absolute;
    top: 0;
    height: 100%;
    padding: 20px 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    
    z-index: 80;
}
.main-illustration div{
    position: absolute;
    
}
.background-illustration{
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
}
.overlay-white{
    background: rgba(255, 255, 255, 0.9);
}
.background-illustration .opaque{
    position: absolute;
}

.abs-left{
    left: 0;
}
.abs-right{
    right: 0;
}

.crosshair{
    width: 18px;
    height: 18px;
    background: red;
    
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    
    z-index: 77;
}

/* Navigation */
.nav-pagination{
    position: fixed;
    top: 50%;
    right: 22px;
    
    -webkit-transform: translateY(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translate(-50%);
    transform: translateY(-50%);
    
    z-index: 52;
}
.pagination{
    list-style: none;
    margin: 0;
    padding: 0;
}
.pagination-link{
    list-style: none;
}
.pagination-link .dot{
    display: block;
    width: 14px;
    height: 14px;
    margin-bottom: 1em;
    background: #bcbdc0;
    
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    
      
}
.pagination-link.active .dot{
    background: #3c3c3a;
}
.dot:hover{
    background: #f7e726;
}
.pagination-link:last-child .dot{
    margin-bottom: 0;
}


/*
///////////////////
##HOME SPECIFIC
///////////////////
*/

/* Text */
.home .sep{
   width: 28em;

}
.home .headline{
    left: -0.785em;
}
.home .headline span{
    display: block;
    position: relative;
}
.home .headline span:nth-child(1){
    /*left: 0.4275em;*/
    margin-left: 0.88em;
}
.home .headline span:nth-child(2){
    /*left: 0.825em;   */
    margin-left: 1.65em;
}

/* subclassed helpers */
.home .rotation-origin{
    -webkit-transform-origin: 63% 35.5%;
    -moz-transform-origin: 63% 35.5%;
    transform-origin: 63% 35.5%;
}
.home .crosshair{
    top: 35.5%;
    left: 63%;
}

.home .split{
	display: table;
}
.home .text-container{
    display: table-cell;
	vertical-align: middle;
    margin: 0 auto;
	
	top: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);

}

/* 
///////////
//HOME ANIMATIONS 
///////////
*/

/* iphones lemons */
@keyframes home-iphones-lemons{
	100%{
    	transform: rotateZ(0deg);
	}
}

@-moz-keyframes home-iphones-lemons{
  100%{
    	-moz-transform: rotateZ(0deg);
	}
}

@-webkit-keyframes home-iphones-lemons {
  100%{
    	-webkit-transform: rotateZ(0deg);
	}
}

/* glass-bicycles */
@keyframes home-glass-bicycles{
	100%{
    	transform: rotateZ(0deg) scale(1);
	}
}

@-moz-keyframes home-glass-bicycles{
  100%{
    	-moz-transform: rotateZ(0deg) scale(1);
	}
}

@-webkit-keyframes home-glass-bicycles {
  100%{
    	-webkit-transform: rotateZ(0deg) scale(1);
	}
}


/* Images*/
.flower-woman{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-home-flower-woman.png");
    background-repeat: no-repeat;
    background-size: 96%;
    background-position: top left;
	/*opacity: 0;*/
    z-index: 53;
}
.glass-bicycles{
    width: 100%;
    height: 100%;
    background-image: url("../img/optimized/img-home-accessories.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 100% 0%;
    z-index: 52;
	
	transform: rotateZ(80deg) scale(0);
	-webkit-transform: rotateZ(80deg) scale(0);
	-moz-transform: rotateZ(80deg) scale(0);
	
	
	
}
.iphones-lemons{
    width: 100%;
    height: 100%;
    background-image: url("../img/optimized/img-home-iphone-lemons.png");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 2% 62%;
    z-index: 51;
	
	transform: rotateZ(-160deg);
	-webkit-transform: rotateZ(-160deg);
	-moz-transform: rotateZ(-160deg);
	
	
}
.animate-stuff{
	transform: rotateZ(-160deg);
	-webkit-transform: rotateZ(-160deg);
	-moz-transform: rotateZ(-160deg);
	
	/* iphones-lemons*/
	animation: home-iphones-lemons 1s ease-out 0s 1 forwards;
	-webkit-animation: home-iphones-lemons 1s ease-out 0s 1 forwards;
	-moz-animation: home-iphones-lemons 1s ease-out 0s 1 forwards;
	
	/*glass-bicycles*/
	animation: home-glass-bicycles 1s ease-out 0s 1 forwards;
	-webkit-animation: home-glass-bicycles 1s ease-out 0s 1 forwards;
	-moz-animation: home-glass-bicycles 1s ease-out 0s 1 forwards;
}
.iphones-opaque{
    width: 100%;
    height: 100%;
    background-image: url("../img/optimized/img-home-iphones-opaque.png");
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: 100% 62%;
    z-index: 49;
}
.lemons-opaque{
    width: 100%;
    height: 100%;
    background-image: url("../img/optimized/img-home-lemons-opaque.png");
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: 0 20%;
    z-index: 49;
}

/* Individual iphones */
.iphone-opaque-top{
    top: 20px;
    right: 0;
    width: 50%;
    height: auto;
    z-index: 49;
	
	transform-origin: 200% 200%;
	transform: rotateZ(160deg);
	-webkit-transform: rotateZ(160deg);
	-moz-transform: rotateZ(160deg);
}

.iphone-opaque-middle{ 
    top: 40%;
    left: 30%;
    width: 50%;
    height: auto;
    z-index: 49;
	
	transform-origin: 200% 200%;
	transform: rotateZ(160deg);
	-webkit-transform: rotateZ(160deg);
	-moz-transform: rotateZ(160deg);
}

.iphone-opaque-bottom{
    bottom: 20px;
    right: 0;
    width: 50%;
    height: auto;
    z-index: 49;
	
	transform-origin: 200% 200%;
	transform: rotateZ(160deg);
	-webkit-transform: rotateZ(160deg);
	-moz-transform: rotateZ(160deg);
}



/*
///////////////////
##OFFERING SPECIFIC
///////////////////
*/

/* Text */
.offering .sep{
   width: 28em;
    
}
.offering .headline{
    left: 0;
}
.offering .headline span{
    display: block;
    position: relative;
}
.offering .headline span:nth-child(1){
    /*left: 0.4275em;*/
    margin-left: -1.66em;
}
.offering .headline span:nth-child(2){
    /*left: 0.825em;   */
    margin-left: 1.25em;
}
.offering .headline span:nth-child(3){
    /*left: 0.825em;   */
    margin-left: 0.30em;
}


.offering .split{
	display: table;
}
.offering .text-container{
    display: table-cell;
	vertical-align: middle;
    margin: 0 auto;
	
	top: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
	
}


/* Images */
.glass-small{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-offering-glasses-small.png");
    background-repeat: no-repeat;
    background-size: 96%;
    background-position: 0 43%;
    z-index: 50;
	
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
}
.glass-big{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-offering-glasses-big.png");
    background-repeat: no-repeat;
    background-size: 96%;
    background-position: 0% 90%;
    z-index: 53;
	
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
}
.hands{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-offering-hands.png");
    background-repeat: no-repeat;
    background-size: 82.75%;
    background-position: 0 97%;
    z-index: 51;
	
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
}


.full-container{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 49;
}
.glass-small-2{
	position: absolute;
	bottom: 45%;
	left: 0;
	width: 90%;
	height: auto;
	 z-index: 50;
	
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
}
.glass-big-2{
	position: absolute;
	bottom: 8%;
	left: 0;
	width: 90%;
	height: auto;
	z-index: 53;
	
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
}
.hands-2{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 90%;
	height: auto;
	z-index: 51;
	
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
}

/* individuals */
.glass-opaque-top{
    top: 20px;
    right: 20px;
    width: 75%;
    height: auto;
    z-index: 49;
	
	
}
.glass-opaque-middle{
    top: 40%;
    right: 20px;
    width: 75%;
    height: auto;
    z-index: 49;
}
.glass-opaque-bottom{
    bottom: 20px;
    left: 0;
    width: 75%;
    height: auto;
    z-index: 49;
}



/*
///////////////////
##EVENTS SPECIFIC
///////////////////
*/

/* Text */
.events .headline{
    left: 0;
}
.events .headline span{
    display: block;
    position: relative;
}
.events .headline span:nth-child(1){
    /*left: 0.4275em;*/
    margin-left: 0.625em;
}
.events .headline span:nth-child(2){
    /*left: 0.825em;   */
    margin-left: -0.985em;
}
.events .headline span:nth-child(3){
    /*left: 0.825em;   */
    margin-left: 0.572em;
}

.events .split{
	display: table;
}
.events .text-container{
    display: table-cell;
	vertical-align: middle;
    margin: 0 auto;
	
	top: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
	
}


/* subclassed helpers */
.events .rotation-origin{
    -webkit-transform-origin: 62% 57.5%;
    -moz-transform-origin: 62% 57.5%;
    transform-origin: 62% 57.5%;
}
.events .crosshair{
    top: 57.5%;
    left: 62%;
}

/* Images */
.mic-champagne{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-events-mic-champagne-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
    z-index: 52;
}
.salmons{
	width: 100%;
    height: 100%;
    background: url("../img/optimized/img-events-salmons.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 0% 52%;
    z-index: 55;
	
	transform: rotateZ(-175deg);
	-webkit-transform: rotateZ(-175deg);
	-moz-transform: rotateZ(-175deg);
}

.trumpet-left-top{
	position: absolute;
    width: 20%;
    height: auto;
	bottom: 84%;
	left: 18%;

    z-index: 53;
}
.trumpet-left-mid{
	position: absolute;
    width: 23%;
    height: auto;
	bottom: 76%;
	left: 12%;
    background-position: 25% 20%;
    z-index: 53;
   
}
.trumpet-left-bottom{
	position: absolute;
    width: 15%;
    height: auto;
	bottom: 68%;
	left: 23%;

    background-position: 33% 29%;
    z-index: 53;
}
.trumpet-right-top{
	position: absolute;
    width: 20%;
    height: auto;
	bottom: 84%;
	right: 22%;

    background-position: 92% 5%;
    z-index: 53;
}
.trumpet-right-mid{
	position: absolute;
    width: 23%;
    height: auto;
	bottom: 76%;
	right: 16%;
	
    background-position: 96% 20%;
    z-index: 53;
}
.trumpet-right-bottom{
	position: absolute;
    width: 15%;
    height: auto;
	bottom: 68%;
	right: 27%;

    background-position: 89% 29%;
    z-index: 53;
}
.mic-hand{
	position: absolute;
	bottom: 0;
	left: 42.5%;
    width: 15%;
    height: auto;

    z-index: 53;
	
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
}
.flowery{
    position: absolute;
	bottom: 15%;
	left: 0;
	width: 100%;
    height: auto;
    z-index: 52;
	
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
}
.champagne{
	position: absolute;
	bottom: 0;
	left: 0;
    width: 100%;
    height: auto;
    z-index: 54;
	
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
}


/* individuals */
.trumpet-opaque-top{
    top: 10%;
    right: 0;
    width: 65%;
    height: auto;
    z-index: 49;
}
.trumpet-opaque-middle{
    top: 45%;
    right: 10%;
    width: 65%;
    height: auto;
    z-index: 49;
}
.trumpet-opaque-bottom{
    top: 70%;
    right: 0;
    width: 65%;
    height: auto;
    z-index: 49;
}

.salmon-opaque{
    top: 20%;
    left: 0;
    width: 60%;
    height: auto;
    z-index: 48;
}


/*
///////////////////
##STYLE-FASHION SPECIFIC
///////////////////
*/

/* Text */
.style-fashion .headline{
    left: -1.5em;
}
.style-fashion .headline span{
    display: block;
    position: relative;
}
.style-fashion .headline span:nth-child(1){
    /*left: 0.4275em;*/
    margin-left: 4.19em;
}


.style-fashion .split{
	display: table;
}
.style-fashion .text-container{
    display: table-cell;
	vertical-align: middle;
    margin: 0 auto;
	
	top: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
	
}


/* Images */
.hat-woman{
	position: absolute;
    width: 45%;
    height: auto;
	bottom: 0;
	left: 10%;
    
    background-position: 25% 100%;
    z-index: 51;
}

.hat-1{
	position: absolute;
	 width: 36%;
    height: auto;
	/*top: 0;*/
	left: 13%;
	
	z-index: 58;
}
.hat-2{
	position: absolute;
	width: 29%;
    height: auto;
	/*top: 9.5%;*/
	left: 15%;
	
	z-index: 59;
}
.hat-3{
	position: absolute;
	width: 33.25%;
    height: auto;
	/*top: 16.5%;*/
	left: 13.5%;
	
	z-index: 56;
}
.hat-4{
	position: absolute;
	width: 31%;
    height: auto;
	/*top: 29%;*/
	left: 15%;
	
	z-index: 57;
}
.hat-5{
	position: absolute;
	width: 35%;
    height: auto;
	/*top: 38%;*/
	left: 12%;
	
	z-index: 54;
}
.hat-6{
	position: absolute;
	width: 28%;
    height: auto;
	bottom: 38%;
	left: 15%;
	
	z-index: 53;
}
.hat-7{
	position: absolute;
	width: 40%;
    height: auto;
	bottom: 34%;
	left: 10%;
	
	z-index: 52;
}
.schmink{
	position: absolute;
	width: 47%;
    height: auto;
	bottom: 0%;
	left: 5%;
	
	z-index: 51;
}

.style-fashion .overlay-white{
	background: rgba(255, 255, 255, 0.85);
}

.indi-hat-top{
	position: absolute;
    width: 30%;
    height: auto;
	top: 0%;
	right: 25%;

    z-index: 49;
}
.indi-hat-mid{
	position: absolute;
    width: 30%;
    height: auto;
	top: 40%;
	right: 4%;

    z-index: 49;
}
.indi-hat-bottom{
	position: absolute;
    width: 30%;
    height: auto;
	top: 74%;
	right: 48%;

    z-index: 49;
}


/*
///////////////////
##BEAUTY-EMPORIUM SPECIFIC
///////////////////
*/

/* Text */
.beauty .headline{
    left: -0.5em;
}
.beauty .headline span{
    display: block;
    position: relative;
}
.beauty .headline span:nth-child(1){
    /*left: 0.4275em;*/
    margin-left: 1.75em;
}
.beauty .headline span:nth-child(2){
    /*left: 0.825em;   */
    margin-left: -0.462em;
}
.beauty .headline span:nth-child(3){
    /*left: 0.825em;   */
    margin-left: 1.518em;
}


.beauty .split{
	display: table;
}
.beauty .text-container{
    display: table-cell;
	vertical-align: middle;
    margin: 0 auto;
	
	top: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
	
}


/* Images */
.makeup-big{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-beauty-makup-big.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    z-index: 51;
}

.brush{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-beauty-big-brush.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 10% 10%;
    z-index: 52;
}
.eyeliner-left{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-beauty-big-eyeliner-left.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 30% 35%;
    z-index: 53;
}
.makeup-orange{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-beauty-big-makeup-orange.png");
    background-repeat: no-repeat;
    background-size: 58%;
    background-position: 100% 45%;
    z-index: 54;
}
.makeup-pink{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-beauty-big-makeup-pink.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 0% 60%;
    z-index: 55;
}
.makeup-purple{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-beauty-big-makeup-purple.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 25% 20px;
    z-index: 51;
}
.match-top{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-beauty-big-match-top.png");
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: 86% 27%;
    z-index: 50;
}
.tube-top{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-beauty-big-tube-top.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 130% 0%;
    z-index: 53;
}
.tube-right{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-beauty-big-tube-right.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 130% 35%;
    z-index: 51;
}
.pen-cap{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-beauty-big-pen-cap.png");
    background-repeat: no-repeat;
    background-size: 23%;
    background-position: 30% 75%;
    z-index: 56;
}
.pen-bottom{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-beauty-big-pen-bottom.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 100% 100%;
    z-index: 52;
}


/* individuals */
.makeup-opaque-top{
    top: 5%;
    right: 20%;
    width: 30%;
    height: auto;
    z-index: 49;
}
.makeup-opaque-bottom{
    bottom: -10%;
    right: 20%;
    width: 30%;
    height: auto;
    z-index: 49;
}
.eyeliner-opaque-bottom{
    bottom: -5%;
    left: -5%;
    width: 45%;
    height: auto;
    z-index: 49;
}
.mascara-opaque-top{
    top: -3%;
    left: -5%;
    width: 35%;
    height: auto;
    z-index: 49;
}
.mascara-opaque-left{
    top: 10%;
    right: 0;
    width: 85%;
    height: auto;
    z-index: 49;
}
.match-opaque-top{
    top: 23%;
    right: 10%;
    width: 7%;
    height: auto;
    z-index: 49;
	
	animation: rotating 20s linear infinite;
	-moz-animation: rotating 20s linear infinite;
	-webkit-animation: rotating 20s linear infinite;
}
.match-opaque-left{
    top: 50%;
    left: 0;
    width: 7%;
    height: auto;
    z-index: 49;
}
.match-opaque-bottom{
    bottom: 20px;
    right: 0;
    width: 7%;
    height: auto;
    z-index: 49;
	
	animation: rotating 20s linear infinite;
	-moz-animation: rotating 20s linear infinite;
	-webkit-animation: rotating 20s linear infinite;
}
.brush-opaque-middle{
    top: 45%;
    left: 50%;
    width: 30%;
    height: auto;
    z-index: 49;
}



/*
///////////////////
##FOOD-DRINK SPECIFIC
///////////////////
*/

/* Text */
.food .headline{
    left: 0em;
}
.food .headline span{
    display: block;
    position: relative;
}
.food .headline span:nth-child(1){
    /*left: 0.4275em;*/
    margin-left: -0.96em;
}
.food .headline span:nth-child(2){
    /*left: 0.825em;   */
    margin-left: 0.38em;
}
.food .headline span:nth-child(3){
    /*left: 0.825em;   */
    margin-left: -0.19em;
}

.food .rotation-origin{
    -webkit-transform-origin: 21% 51%;
    -moz-transform-origin: 21% 51%;
    transform-origin: 21% 51%;
}
.food .crosshair{
    top: 51%;
    left: 21%;
    
    z-index: 80;
}


.food .split{
	display: table;
}
.food .text-container{
    display: table-cell;
	vertical-align: middle;
    margin: 0 auto;
	
	top: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
	
}



/* Images */
.translate-middle{
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.forks{
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: -140%;
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 52;
}
.lobsters{
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: -140%;
    width: 60%;
    height: auto;
    margin: auto;
    z-index: 53;
}
.pineapples-leaves{
   position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: -140%;
    width: 35%;
    height: auto;
    margin: auto;
    z-index: 51;
}

/* individuals */
.asparagus-opaque{
    top: 0%;
    left: 37%;
    width: 40%;
    height: auto;
    z-index: 49;
}
.lemons-small-opaque{
    top: 32%;
    left: 37%;
    width: 10%;
    height: auto;
    z-index: 49;  
}
.strawberries-opaque{
    top: 4%;
    left: 6%;
    width: 40%;
    height: auto;
    z-index: 49;
}
.pineapples-opaque{
    top: 0;
    left: -15%;
    width: 62%;
    height: auto;
    z-index: 49;
}

/*
///////////////////
##HEALTH-FITNESS SPECIFIC
///////////////////
*/

.health .headline{
    left: -0.3em;
}
.health .headline span{
    display: block;
    position: relative;
}
.health .headline span:nth-child(1){
    /*left: 0.4275em;*/
    margin-left: 0.42em;
}
.health .headline span:nth-child(2){
    /*left: 0.825em;   */
    margin-left: 0.99em;
}


.health .split{
	display: table;
}
.health .text-container{
    display: table-cell;
	vertical-align: middle;
    margin: 0 auto;
	
	top: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
	
}



/* Images */
.sportswoman{
    width: 100%;
    height: 100%;
    background: url("../img/optimized/img-health-sportwoman.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 20px;
    z-index: 51;
}
.rackets{
	position: absolute;
    width: 85%;
    height: auto;
	top: 0;
	right: 30%;
   
    background-position: 0% 20px;
    z-index: 51;
}
.woman{
	position: absolute;
    width: 100%;
    height: auto;
	top: 0;
	right: -25%;
    background-position: 4200% 20px;
    z-index: 52;
}

.health .rotation-origin{
    -webkit-transform-origin: 75% 50%;
    -moz-transform-origin: 75% 50%;
    transform-origin: 75% 50%;
}
.health .crosshair{
    top: 50%;
    left: 75%;
}

/* individuals */
.tennis-ball-opaque-top{
    top: 10%;
    right: 0;
    width: 27%;
    height: auto;
    z-index: 49;
}
.tennis-ball-opaque-middle{
    top: 45%;
    right: 20%;
    width: 27%;
    height: auto;
    z-index: 49;
}
.tennis-ball-opaque-bottom{
    top: 80%;
    right: -5%;
    width: 27%;
    height: auto;
    z-index: 49;
}

.shuttlecock-opaque-top{
    top: 20%;
    left: 20%;
    width: 35%;
    height: auto;
    z-index: 49;
}
.shuttlecock-opaque-bottom{
    top: 70%;
    left: 30%;
    width: 35%;
    height: auto;
    z-index: 49;
}

.shuttercock{
	animation: rotating 20s linear infinite;
	-moz-animation: rotating 20s linear infinite;
	-webkit-animation: rotating 20s linear infinite;
}

.health .overlay-white{
    background: rgba(255, 255, 255, 0.8);
}


@-webkit-keyframes rotating{
  from{
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to{
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/*
///////////////////
##DEVELOPMENT-TEAM SPECIFIC
///////////////////
*/

.development-team .headline{
    float: left;
    left: 0;
    text-align: left;
    margin-bottom: 0.5em;
}
.development-team .headline span{
    display: block;
    position: relative;
}
.development-team .headline span:nth-child(1){
    /*left: 0.4275em;*/
    margin-left: 0.82em;
}
.development-team .headline span:nth-child(2){
    /*left: 0.825em;   */
    margin-left: 1.86em;
}

.development-team .text-container{
    position: relative;
    top: 50%;
    width: 80%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translate(-50%);
    transform: translateY(-50%);
    
    z-index: 52;
}
.development-team .content{
    float: left;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.development-team .content:last-child{
    padding-left: 2em;
}
.content-big{
    width: 60%;
}
.content-small{
    width: 40%;
}
.team-container{
    clear: both;
}

.content-small .team{
    width: 100%;
    margin-bottom: 2em;
}
.content-small .team.clearfix{
    float: none;
}

.team{
    float: left;
    width: 50%;
    text-align: left;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
.team-content{
    margin: 0 0 1em 0;
    line-height: 1.2em;
}
.team-content a{
    text-decoration: underline;
    color: #000;
}
.team-content a:hover{
    text-decoration: underline;
    color: #000;
}
.team-content strong{
    font-size: 0.95em;
    font-weight: 600;
    text-transform: uppercase;
}


/*
///////////////////
##GALLERY SPECIFIC
///////////////////
*/

.gallery .text-container{
    position: relative;
    top: 50%;
    width: 80%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translate(-50%);
    transform: translateY(-50%);
    
    z-index: 52;
}
.gallery .content{
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.full-slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 80000px;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;

    -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}
.full-slider li{
    position: relative;
    float: left;
    margin: 0 20px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 49;
    background-size: 100%;
    overflow: hidden;
}
.full-slider li:nth-child(1){
    background-image: url("../img/img-gallery-slider-1280-1.jpg");
}
.full-slider li:nth-child(2){
    background-image: url("../img/img-gallery-slider-1280-2.jpg");
}
.full-slider li:nth-child(3){
    background-image: url("../img/img-gallery-slider-1280-3.jpg");
}
.full-slider li:nth-child(4){
    background-image: url("../img/img-gallery-slider-1280-4.jpg");
}
.full-slider li:nth-child(5){
    background-image: url("../img/img-gallery-slider-1280-5.jpg");
}

/*
@for $i from 1 through $gallery-first-items {
	.full-slider li:nth-child(#{$i}) {
	
	}
}
*/
.full-slider li:nth-child(6){
    background-image: url("../img/img-gallery-perspective-1.jpg");
}
.full-slider li:nth-child(7){
    background-image: url("../img/img-gallery-perspective-2.jpg");
}
.full-slider li:nth-child(8){
    background-image: url("../img/img-gallery-perspective-3.jpg");
}
.full-slider li:nth-child(9){
    background-image: url("../img/img-gallery-perspective-4.jpg");
}
.full-slider li:nth-child(10){
    background-image: url("../img/img-gallery-perspective-5.jpg");
}
.full-slider li:nth-child(11){
    background-image: url("../img/img-gallery-perspective-6.jpg");
}
.full-slider li:nth-child(12){
    background-image: url("../img/img-gallery-perspective-7.jpg");
}
.full-slider li:nth-child(13){
    background-image: url("../img/img-gallery-perspective-8.jpg");
}
.full-slider li:nth-child(14){
    background-image: url("../img/img-gallery-perspective-9.jpg");
}
.full-slider li:nth-child(15){
    background-image: url("../img/img-gallery-perspective-10.jpg");
}
.full-slider li:nth-child(16){
    background-image: url("../img/img-gallery-perspective-11.jpg");
}
.full-slider li:nth-child(17){
    background-image: url("../img/img-gallery-perspective-12.jpg");
}
.full-slider li:nth-child(18){
    background-image: url("../img/img-gallery-perspective-13.jpg");
}
.full-slider li:nth-child(19){
    background-image: url("../img/img-gallery-perspective-14.jpg");
}
.full-slider li:nth-child(20){
    background-image: url("../img/img-gallery-perspective-15.jpg");
}




.full-slider .heighty{
    
}

.arrow{
    display: inline-block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    text-decoration: none;
    color: #000;
    line-height: 2.0em;
    
     border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.prev{
    margin-right: 1.5em;
    background: #3c3c3a url('../img/icon-arrow-left.png') no-repeat center;
    background-size: 10px;
}
.prev:hover{
    background: #f7e726 url('../img/icon-arrow-left.png') no-repeat center;
    background-size: 10px;
}
.next{
    margin-left: 1.5em;
    background: #3c3c3a url('../img/icon-arrow-right.png') no-repeat center;
    background-size: 10px;
}
.next:hover{
    background: #f7e726 url('../img/icon-arrow-right.png') no-repeat center;
    background-size: 10px;
}

.gallery .footnote{
    position: relative;
    top: 0;
    
}


/*
///////////////////
##CONTACT SPECIFIC
///////////////////
*/
.contact.anchor{
	height: auto;
}
.contact .text-container{
    position: relative;
    top: 50%;
    width: 80%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translate(-50%);
    transform: translateY(-50%);
    
    z-index: 52;
}
.contact .content{
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.map-canvas {
    width: 100%;
    height: 600px;
    background-color: #CCC;
}


.inner-image img{
	width: 100%;
	margin: 0 auto;
	height: auto;
	max-height: 750px;
	max-width: 1000px;
}
.svg-image{
	min-width: 1134px;
	height: auto;
	max-width: 1134px;
	margin: 0 auto;
	text-align: center;
	max-height: 850px;
}
.visit-text{
	max-width: 600px;
	margin: 30px auto;
}
.contact .footnote{
	position: static;
	margin-top: 30px;
	margin-bottom: 30px;
}

.missrep{
	font-size: 9px;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 32px 32px 32px;
}


/*
///////////////////
##SPECIAL-TRANSITIONS
///////////////////
*/

.transition-easing{ 
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    /*
    -webkit-perspective: 1000;
    -webkit-transform: translateZ(0);
    */
    
    
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;

    -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.transition-tumble{
    /*
    -webkit-transform: scale3d(1, 1, 1);
    -webkit-transform: translate3d(0px, 0px, 0px);
    */
    
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}