/* NAVIGATION*/
@media (max-height: 900px) {
    
    .primary-nav li a{
        font-size: 2.0em;
    }
    address{
        font-size: 1.0em;
    }
    
    .nav-container{
        padding: 2em 0 2em 0;
    }
    h2.company{
        margin: 1.5em 0 0.5em 0;
        background-size: 200px;
    }
}
@media (max-height: 800px) {
    .anchor {
        height: 125%;
    }
    h2.company{
        margin: 1.5em 0 0.5em 0;
        background-size: 200px;
    }
}
@media (max-height: 715px) {
    .primary-nav li a{
        font-size: 1.6em;
    }
    address{
        font-size: 0.9em;
    }
    h2.company{
        margin: 1em 0 0 0;
        background-size: 130px;
    } 
}
@media (max-height: 690px) {
    .anchor {
        height: 150%;
    }  
}
@media (max-height: 540px) {
    .anchor {
        height: 175%;
    }  
}

@media (max-height: 468px) {
    .anchor {
        height: 175%;
    }  
}

/* MAX-WIDTH */
@media (min-width: 1920px) {
    .anchor{
        max-width: 1920px;
        margin: 0 auto;
    }
    .gallery .footnote{
        top: 120px;
    }
}

/* GALLERY */
@media (min-width: 1500px) {
    .gallery .footnote{
        top: 130px;
    }
}
@media (min-width: 1200px) {
    .gallery .footnote{
        top: 30px;
    }
}
@media (max-width: 1200px) {
    .gallery .footnote{
        top: 20px;
    }
}
@media (max-width: 1000px) {
    .gallery .footnote{
        top: 20px;
    }
}
@media (max-width: 800px) {
    .slider{
		height: auto;
		position: static;
        overflow: visible;
    }
    .full-slider{
        width: 100%;
		position: static;
    }
    .full-slider li{
        width: 100%;
        height: 160px;
        margin-bottom: 20px;
        float: none;
        background-size: auto 100%;
    }
    .full-slider li.heighty{
        background-size: auto 100%;
    }
    .gallery .footnote{
        display: none;
    }
}
@media (max-width: 600px) {
    .gallery .footnote{
        top: 20px;
    }
}

/* Fixes on images */
@media (min-width: 1500px) {
    .iphone-opaque-top{
        width: 35%;
    }
    .iphone-opaque-middle{
        width: 35%;
    }
    .iphone-opaque-bottom{
        width: 35%;
    }
    .trumpet-left-top{
        background-size: 18%;
    }
    .trumpet-left-mid{
        background-size: 21%;
    }
    .trumpet-left-bottom{
        background-size: 13%;
    }
    .trumpet-right-top{
        background-size: 18%;
    }
    .trumpet-right-mid{
        background-size: 21%;
    }
    .trumpet-right-bottom{
        background-size: 13%;
    }
    
    @-moz-document url-prefix(){
        .forks{
            width: 80%;
        }
        .lobsters{
            width: 50%;
        }
        .pineapples-leaves{
            width: 35%;
        }
    }  
}




@media (max-width: 1500px) {
    .flowery {
        background-position: 800% 64%;
    }
    .trumpet-left-top{
        background-position: 32% 15%;
    }
    .trumpet-left-mid{
        background-position: 25% 30%;
    }
    .trumpet-left-bottom{
        background-position: 33% 40%;
    }
    .trumpet-right-top{
        background-position: 92% 15%;
    }
    .trumpet-right-mid{
        background-position: 96% 30%;
    }
    .trumpet-right-bottom{
        background-position: 89% 40%;
    }
    .salmons{
         background-position: 0% 62%;
    }
}

@media (max-width: 1200px) {
    .iphones-lemons{
        background-position: 2% 52%;
    }
    .flowery {
        background-position: 800% 76%;
    }
    .trumpet-left-top{
        background-position: 32% 25%;
    }
    .trumpet-left-mid{
        background-position: 25% 39%;
    }
    .trumpet-left-bottom{
        background-position: 33% 49%;
    }
    .trumpet-right-top{
        background-position: 92% 25%;
    }
    .trumpet-right-mid{
        background-position: 96% 39%;
    }
    .trumpet-right-bottom{
        background-position: 89% 49%;
    }
    .salmons{
         background-position: 0% 72%;
    }
    .glass-small{
        background-position: 0 47%;
    }
    .health .rotation-origin{
        -webkit-transform-origin: 75% 40%;
        -moz-transform-origin: 75% 40%;
        transform-origin: 75% 40%;
    }
    .health .crosshair{
        top: 40%;
        left: 75%;
    }
}

@media (max-width: 1100px) {
    .home .sep{
       width: 25em;
    }
    .home .headline{
        left: -0.785em;
    }
    .iphones-lemons{
        background-position: 2% 42%;
    }
    .glass-small{
        background-position: 0 52%;
    }
    .rackets{
        background-position: 0% 40px;
    }
}

@media (max-width: 1024px) {
    .home .sep{
       width: 20em;
    }
    .home .headline{
        left: -0.785em;
    }
    .iphones-lemons{
        background-position: 2% 32%;
    }
    .trumpet-left-top{
        background-position: 32% 40%;
    }
    .trumpet-left-mid{
        background-position: 25% 49%;
    }
    .trumpet-left-bottom{
        background-position: 33% 55%;
    }
    .trumpet-right-top{
        background-position: 92% 40%;
    }
    .trumpet-right-mid{
        background-position: 96% 49%;
    }
    .trumpet-right-bottom{
        background-position: 89% 55%;
    }
    .salmons{
         background-position: 0% 82%;
    }
    .glass-small{
        background-position: 0 57%;
    }
    .health .rotation-origin{
        -webkit-transform-origin: 75% 35%;
        -moz-transform-origin: 75% 40%;
        transform-origin: 75% 40%;
    }
    .health .crosshair{
        top: 32%;
        left: 75%;
    }
    
}

@media (max-width: 1024px) {
    /* NAVIGATION*/
    .nav-split{
        position: relative;
        top:0;
        left: 0;
        display: block;
        width: 100%;
    }
    .pos-bottom{
        margin-top: 1em;
        padding-left: 40px;
    }
    .company{
        margin: 2.5em 0 0em 0;
    }
    .home .sep{
       width: 18em;
    }
    .home .headline{
        left: -0.785em;
    }
    .glass-small{
        background-position: 0 62%;
    }
}

@media (max-width: 1024px) {
    .split{
        width: 100%;
        height: auto;
    }
    .small-res{
        display: block;
		width: 100%;
        height: auto;
    }
    
    .hat-woman{
        background-position: top;
    }
	.style-fashion .small-res{
		width: auto;
	}
    .overlay-white{
        display: none;
    }
	
	.anchor{
		height: auto;
		padding-bottom: 0;
	}
	
	.anchor.development-team{
		height: 100%;
	}
	
	.anchor.contact{
		height: auto;
	}
	.anchor.gallery{
		height: 100%;
	}
    
    /* ##SPECIAL-IMAGES */
    .full-home{ 
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .full-offering{
        width: 100%;
        text-align: left;
    }
    .full-events{
        width: 100%;
        text-align: right;
    }
    .full-style{
        
        margin: 0 auto;
        text-align: center;
    }
    .full-beauty{
        width: 100%;
        text-align: right;
    }
    .full-food{
        position: relative;
        left: 0;
        text-align: center;
    }
    .full-health{
        margin: 0 auto;
        text-align: center;
    }
    
    
    /* Floats */
    .main-illustration{
        position: relative;
        display: block;
        width: 100%;
		padding: 20px 0 0 0;
    }
    .main-illustration .high-res{
        display: none;
    }
    .background-illustration{
        display: none;   
    }
    .left{
        float: none;
        width: 100%;
    }
    .right{
        float: none;
        width: 100%;
    }
    
    /* Text */
    .text-container, .gallery .text-container,
    .contact .text-container{
        top: 0%;
        margin: 0 auto;
        padding: 4em 0 3em 0;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
    .development-team .split{
        height: 100%;
    }
    .development-team .text-container{
        top: 50%;
        padding: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .footnote{
        bottom: 10px;
    }
}

@media (max-width: 840px) {
    .development-team .content{
        float: none;
        width: 100%;
    }
    
    .content-small .team {
        float: left;
        width: 50%;
        
    }
    .development-team .content:last-child {
        padding: 2em 0 0 0;   
    }
    .content-small .team.clearfix{
        float: left;   
    }
}

@media (max-width: 580px) {
    .development-team .headline{
        float: none;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .team{
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .development-team .content:last-child {
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .content-small .team {
        float: none;
        width: 100%;
        
    }
    
    .pagination {
     display: none;   
    }
    
}

@media (max-width: 468px) {
    .development-team .headline{
        width: 100%;
    }
	/*
    .full-health {
        position: relative;
        left: -160px;
    }
    .full-beauty, .full-events, .full-offering {
        position: relative;
        top: 50px;
    }
	*/
    
}



@media (max-width: 568px) {
    /* Fixes on text */
    .headline{
        font-size: 3em;
        line-height: 0.678em;
    }
    .subtitle{
        font-size: 1.0em;
        line-height: 1.1em;
        max-width: 75%;
    }
    .presentation-text{
        font-size: 0.9em;
        line-height: 1.2em;
        max-width: 75%;
    }
}
@media (max-width: 490px) {
    /* Navigation */
    .primary-nav li a{
        font-size: 1.9em;
    }
    address{
        font-size: 0.9em;
    } 
}
@media (min-width: 320px) and (max-width: 490px) {
    /* Navigation */
    .primary-nav li a{
        font-size: 1.45em;
    }
    address{
        font-size: 0.85em;
    } 
}
@media (min-width: 320px) and (max-width: 400px) {
    /* text */
    .headline{
        font-size: 2.6em;
    }
    .home .headline{
        left: -1em;
    }
    .style-fashion .headline{
        left: -1.93em;
    }
}

/* Menu navigation buttons */
@media (max-width: 768px) {
    /*
    .trigger-menu{
        width: 32px;
        height: 32px;
    }
    
    .icon-lines{
        width: 0.625em;
        height: 2px;
    }
    .icon-lines:before,
    .icon-lines:after{
        width: 0.625em;
        height: 2px;
    }
    .icon-lines:before{
        top: 0.25em;
    }
    .icon-lines:after{
        top: -0.25em;
    }
    */
    .pagination-link .dot{
        width: 14px;
        height: 14px;
    }
    .root-title{
        top: 0;
        left: 0;
/*        padding: 20px 0 0 20px;*/
        width: 100%;
        height: 85px;
        background: rgba(255,255,255,0.9);
    }
    .root-title a{
        background-size: 84px 65px;
    }
    main{
        top: 85px;
    }
	.nav-wrapper .logo{
		height: 85px;
		background-size: 84px 65px;
	}
    
    .main-logo {
    margin: 20px 0 0 20px;
    }
}

/* Fixes on width & height breakpoints*/

/*
@media (max-height: 1000px) and (max-width: 899px) {
    .anchor {
        height: 125%;
    }
    .style-fashion.anchor{
        height: 125%;   
    }
    .food.anchor{
        height: 150%;   
    }
    
}
@media (max-height: 800px) and (max-width: 899px) {
    .anchor {
        height: 150%;
    } 
}
@media (max-height: 680px) and (max-width: 899px) {
    .anchor {
        height: 175%;
    } 
}
@media (max-height: 540px) and (max-width: 899px) {
    .anchor {
        height: 200%;
    }  
}


@media (min-height: 1000px) and (max-width: 568px) {
    
    .development-team.anchor{
        height: 125%;   
    }
     
}
@media (max-height: 1000px) and (max-width: 568px) {
    
    .development-team.anchor{
        height: 160%;   
    }
    .style-fashion.anchor{
        height: 125%;   
    }
    .offering.anchor{
        height: 120%;   
    }
    .events.anchor{
        height: 118%;   
    }
}
@media (max-height: 800px) and (max-width: 568px) {
    .anchor {
        height: 132%;
    }
    .offering.anchor{
        height: 149%;    
    }
    .events.anchor{
       height: 160%;   
    }
    .style-fashion.anchor{
        height: 157%;   
    }
    .development-team.anchor{
        height: 185%;   
    }
    .beauty.anchor{
        height: 158%;   
    }
    .food.anchor{
        height: 175%;   
    }
    .health.anchor{
        height: 185%;   
    }
    .gallery.anchor{
        height: 150%;   
    }
    .development-team.anchor{
        height: 200%;   
    }
}
@media (max-height: 680px) and (max-width: 568px) {
    .anchor {
        height: 175%;
    }
    .offering.anchor{
        height: 176%;    
    }
    .events.anchor{
       height: 200%;   
    }
    .style-fashion.anchor{
        height: 185%;   
    }
    .beauty.anchor{
        height: 186%;   
    }
    .food.anchor{
        height: 220%;   
    }
    .health.anchor{
        height: 210%;   
    }
    .gallery.anchor{
        height: 190%;   
    }
    .development-team.anchor{
        height: 240%;   
    }
}
@media (max-height: 540px) and (max-width: 568px) {
    .anchor {
        height: 200%;
    }
    .offering.anchor{
        height: 222%;    
    }
    .events.anchor{
       height: 240%;   
    }
    .style-fashion.anchor{
        height: 233%;   
    }
    .beauty.anchor{
        height: 235%;   
    }
    .food.anchor{
        height: 280%;   
    }
    .health.anchor{
        height: 270%;   
    }
    .gallery.anchor{
        height: 250%;   
    }
    .development-team.anchor{
        height: 285%;   
    }
}

@media (max-height: 468px) and (max-width: 568px) {
    .anchor {
        height: 250%;
    } 
    .offering.anchor{
        height: 256%;    
    }
    .events.anchor{
       height: 280%;   
    }
    .style-fashion.anchor{
        height: 269%;   
    }
    .beauty.anchor{
        height: 271%;   
    }
    .food.anchor{
        height: 320%;   
    }
    .health.anchor{
        height: 320%;   
    }
    .gallery.anchor{
        height: 290%;   
    }
    .development-team.anchor{
        height: 350%;   
    }
}

@media (max-height: 360px) and (max-width: 568px) {
    .development-team.anchor{
        height: 400%;   
    }
}

*/

/*
@media (max-height: 468px) and (max-width: 568px) {
    .anchor {
        height: 215%;
    } 
    .development-team.anchor{
        height: 320%;   
    }
}
*/

/*
@media (max-height: 1000px) and (max-width: 568px) {
    .anchor {
        height: 108%;
    } 
    .development-team.anchor{
        height: 145%;   
    }
}
@media (max-height: 800px) and (max-width: 568px) {
    .anchor {
        height: 132%;
    }
    .development-team.anchor{
        height: 185%;   
    }
}
@media (max-height: 680px) and (max-width: 568px) {
    .anchor {
        height: 150%;
    } 
    .development-team.anchor{
        height: 245%;   
    }
}
@media (max-height: 540px) and (max-width: 568px) {
    .anchor {
        height: 200%;
    }
    .development-team.anchor{
        height: 285%;   
    }
}
@media (max-height: 468px) and (max-width: 568px) {
    .anchor {
        height: 215%;
    } 
    .development-team.anchor{
        height: 320%;   
    }
}
@media (max-height: 400px) and (max-width: 568px) {
    .anchor {
        height: 250%;
    } 
    .development-team.anchor{
        height: 385%;   
    }
}
*/

/*

@media (min-height: 1000px) and (max-width: 400px) {
    .anchor {
        height: 82%;
    }  
}
@media (max-height: 1000px) and (max-width: 400px) {
    .anchor {
        height: 102%;
    }  
}
@media (max-height: 800px) and (max-width: 400px) {
    .anchor {
        height: 129%;
    }
    .style-fashion.anchor{
        height: 150%;
    }
}
@media (max-height: 680px) and (max-width: 400px) {
    .anchor {
        height: 150%;
    }
    .style-fashion.anchor{
        height: 175%;
    }
}
@media (max-height: 540px) and (max-width: 400px) {
    .anchor {
        height: 190%;
    }
    .style-fashion.anchor{
        height: 215%;
    }
}
@media (max-height: 468px) and (max-width: 400px) {
    .anchor {
        height: 215%;
    } 
    .style-fashion.anchor{
        height: 230%;
    }
}
@media (max-height: 400px) and (max-width: 400px) {
    .anchor {
        height: 250%;
    }
    .style-fashion.anchor{
        height: 275%;
    }
}

*/

/*

///////////////////
 SPECIAL MOBILES
////////////////////
*/


/*
@media (max-height: 641px) and (max-width: 384px) {
    .offering.anchor {
        height: 175%;
    }
    .style-fashion.anchor{
        height: 210%;
    }
    .beauty.anchor{
        height: 180%;
    }
}

@media (max-height: 569px) and (max-width: 384px) {
    .offering.anchor {
        height: 197%;
    }
    .events.anchor {
        height: 210%;
    }
    .style-fashion.anchor{
        height: 237%;
    }
    .beauty.anchor{
        height: 200%;
    }
    .food.anchor{
        height: 240%;
    }
    .health.anchor{
        height: 240%;
    }
}

@media (max-height: 481px) and (max-width: 384px) {
    .offering.anchor {
        height: 234%;
    }
    .events.anchor {
        height: 250%;
    }
    .style-fashion.anchor{
        height: 280%;
    }
    .beauty.anchor{
        height: 238%;
    }
    .food.anchor{
        height: 300%;
    }
    .health.anchor{
        height: 300%;
    }
}

*/
/* TABLETS */
@media (max-device-width: 1024px) {
	.trigger-menu:hover, .trigger-menu.clicked{
		background: rgb(34, 34, 34);
	}
	.anchor{
		height: auto;
	}
	.style-fashion.anchor{
		height: auto;
	}
	.food.anchor{
		height: auto;
	}
	.small-res{
		width: 100%;
		display: block;
		height: auto;
	}
	.development-team.anchor{
		height: auto;
	}
	
	.outer-image{
		
		width: 1024px;
		margin: 0 auto;
		overflow-x: scroll;
	}
	.inner-image{
		width: 1134px;
		position: relative;
		left: -200px;
	}
	
    .development-team .text-container{
		padding: 4em 0 5em 0;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
		-moz-transform: translateY(0%);
		-o-transform: translateY(0%);
        transform: translateY(0%);
    }
    .footnote{
        bottom: 10px;
    }
	
}

@media (max-device-width: 1024px) and (orientation: landscape) {
	.gallery .footnote{
		top: -20px;
	}
}
/* PHONES  */
@media (max-device-width: 736px) {
	.visit-text{
		margin: 30px 32px;
	}
	.outer-image{
		width: 736px;
		margin: 0 auto;
		
	}
	.inner-image{
		position: relative;
		left: calc(-50% - 50px);
		
	}
	
}